<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.gestiondesbiens"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhpScriptTest"
            android:label="@string/title_activity_php_script_test" >
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name=".LocationsActivity"
            android:label="@string/title_activity_locations" >
        </activity>
        <activity
            android:name=".TypeActivity"
            android:label="@string/title_activity_type" >
        </activity>
        <activity
            android:name=".PersonnelActivity"
            android:label="@string/title_activity_personnel" >
        </activity>
        <activity
            android:name=".SallesActivity"
            android:label="@string/title_activity_salles" >
        </activity>
        <activity
            android:name=".UsersActivity"
            android:label="@string/title_activity_users" >
        </activity>
        <activity
            android:name=".GroupsActivity"
            android:label="@string/title_activity_groups" >
        </activity>
        <activity
            android:name=".TransportActivity"
            android:label="@string/title_activity_transport" >
        </activity>
        <activity
            android:name=".TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ItemsActivity"
            android:label="@string/title_activity_items"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".UserTransactionActivity"
            android:label="@string/title_activity_user_transaction" >
        </activity>
        <activity
            android:name=".EditTransactionDetails"
            android:label="@string/title_activity_edit_transaction_details" >
        </activity>
        <activity
            android:name=".EditCenterDetails"
            android:label="@string/title_activity_edit_center_details" >
        </activity>
        <activity
            android:name=".EditItemDetails"
            android:label="@string/title_activity_edit_item_details" >
        </activity>
        <activity
            android:name=".EditSalleDetails"
            android:label="@string/title_activity_edit_salle_details" >
        </activity>
        <activity
            android:name=".EditTypeDetails"
            android:label="@string/title_activity_edit_type_details" >
        </activity>
    </application>

</manifest>
